.containerServices {
  background-color: #fff;
  padding: 100px 0px;
}
.servicesUpper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 0px 20px;
}
.servicesTxt {
  color: #b1b492;
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 15px;
}
.myServicesTxt {
  color: #000;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 25px;
}
.servicesDescription {
  color: #999999;
  font-weight: 600;
  font-size: 16px;
}
.serviceCardInnerMain {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100px;
  padding: 50px;
  position: relative;
}

.serviceCardMainDiv {
  display: flex;
  row-gap: 70px;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 90px;
}

.serviceDescriptionsTxt {
  color: #999999;
}

.serviceCardInnerMain {
  transition: all 1s ease !important;
    background-color: #fff !important;
  & .serviceImgDiv{
    transition: all 0.3s ease-in-out;
    background-color:#b1b492 
  }
  &:hover {
    background-color: #b1b492 !important;
    .serviceImgDiv {
      background-color: #fff;
      transform: translateX(30px);
    }
    .serviceTitle {
      color: #fff;
    }
    .serviceDescriptionsTxt {
      color: #fff;
    }
  }
}

.serviceTitle {
  color: #000;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 25px;
}

.serviceImg {
  height: 40px;
  width: 40px;
}

.serviceImgDiv {
  position: absolute;
  /* background-color: #b1b492; */
  bottom: 160px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px #999999;
}
